MONGO_HOST=class-mongodb.cims.nyu.edu:27017
MONGO_USER=ub352
MONGO_PASSWORD=qATAmUMI
MONGO_DBNAME=ub352
FLASK_APP=app.py # the main script file
FLASK_ENV=development # either development or production
GITHUB_SECRET=foo # pick any secret key word you like for GitHub webooks
GITHUB_REPO=https://github.com/uljadberdica1000/WebAppDemo.git # the GitHub repository
