.container {
  border: 5px solid;
  border-color:#04067d ;
  width: 80%;
  margin: 0 auto;
}

header{
  text-align: center;
}

footer,
main {
  padding: 20px;
  position: center;
}

header,
main {
  border-bottom: 10px solid;
  margin-bottom: 15px;
}

p.post {
  font-size: 24px;
}

footer {
  margin-bottom: 10px;
}


.btn-outline {

  background-color: transparent;
  color: inherit;
  transition: all .5s;
  padding: 15px 32px;
}

.btn-home.btn-outline {
  color: #428bca;
}

.btn-read.btn-outline {
  color: #5cb85c;
}

.btn-create.btn-outline {
  color: #5bc0de;
}

.btn-edit.btn-outline {
  color: #f0ad4e;
}

.btn-danger.btn-outline {
  color: #d9534f;
}

.btn-home.btn-outline:hover,
.btn-read.btn-outline:hover,
.btn-create.btn-outline:hover,
.btn-edit.btn-outline:hover {
  color: rgb(214, 6, 127);
}