.container {
  border: 5px solid;
  border-color:#d7d7df ;
  width: 80%;
  margin: 0 auto;
}

.submit{
  border: 5px solid;
  border-color:#be2097af ;
  width: 82%;
  margin: 0 auto;
  font-family: Verdana, Tahoma, sans-serif, sans-serif;
  font-size: 2em;
  color: #A51C30;
  text-align:center;
  border-radius: 12px;

  
}

header{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color:gray;
}

h2{
  text-align: center;
}

h2 .welcome{
  text-align: center;
  font-family: Verdana, Tahoma, sans-serif, sans-serif;
}

footer,
main {
  padding: 20px;
  position: center;
}

header,
main {
  border-bottom: 10px solid;
  margin-bottom: 15px;
}

p {
  color: navy;
  font-size: 1.5em;
}

p.post {
  font-size: 24px;
}

footer {
  margin-bottom: 10px;
}


.btn-outline {

  background-color: transparent;
  color: inherit;
  transition: all 1s;
  padding: 15px 32px;
  font-size: 30px;
  border-radius: 12px;
  border: 8px solid rgb(214, 6, 127)
}

.btn-home.btn-outline {
  color: #428bca;
}

.btn-read.btn-outline {
  color: #5cb85c;
}

.btn-create.btn-outline {
  color: #5bc0de;
}

.btn-edit.btn-outline {
  color: #f0ad4e;
}

.btn-danger.btn-outline {
  color: #d9534f;
}

.btn-submit.btn-outline{

  color: #bb1616a2;

}

.btn-home.btn-outline:hover,
.btn-read.btn-outline:hover,
.btn-create.btn-outline:hover,
.btn-edit.btn-outline:hover {
  color: rgb(214, 6, 127);
  background-color: lightgray;
}

.btn-submit.btn-outline:hover{
  color: rgb(214, 48, 6);
  background-color: rgb(186, 223, 52);
}


.fa-github:hover{
  color: rgb(214, 48, 6);
  font-size:100px;
  transform: scale(1.5)
}

textarea,
input {
  width: 100%;
  font-family: Verdana, Tahoma, sans-serif, sans-serif;
  font-size: 3em;
  padding: 8px 16px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;

}