.container {
  border: 5px solid;
  border-color:#04067d ;
  width: 80%;
  margin: 0 auto;
}

header,
footer,
main {
  padding: 20px;
}

header,
main {
  border-bottom: 10px solid;
  margin-bottom: 15px;
}

p.post {
  font-size: 24px;
}

footer {
  margin-bottom: 10px;
}
