<!DOCTYPE html>
<html>
  <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <title>Flask-MongoDB Example App</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Students Message Board</h1>
        <p>
          <a href="{{ url_for('home')}}">Home</a> |
          <a href="{{ url_for('read')}}">All posts</a> |
          <a href="{{ url_for('create')}}">Create a post</a>|
          <a href="{{ url_for('edit_post')}}">Edit a post</a>
        </p>
      </header>
      <main>{% block container %} {% endblock %}</main>
      <footer>
        <p>
          This is Uljad's Submission for the WebApp Assignment, code is here:
          <a href="https://github.com/uljadberdica1000/WebAppDemo"
            >available on Github</a
          >.
        </p>
      </footer>

<a href="#" class="btn"><i class="icon-pencil"></i> <strong>Write</strong></a>
<a href="#" class="btn"><i class="icon-edit"></i> <strong>Edit</strong></a>
<a href="#" class="btn"><i class="icon-trash"></i> <strong>Delete</strong></a>
<a href="#" class="btn"><i class="icon-align-justify"></i> <strong>List</strong></a>
    </div>
  </body>
</html>
