{% extends 'base.html' %} {% block container %}
<h2>Create</h2>
<p>Create a new recorded in the MongoDB database collection.</p>
<form method="POST" action="{{ url_for('create_post') }}">
  <p>UserName: <input type="text" id="fname" name="fname" /><br /></p>
  <p>
    Message:
    <textarea type="text" id="fmessage" name="fmessage"></textarea>
  </p>
  <p>type: <input type="text" id="ftype" name="ftype" /><br /></p>
  <p>urgency: <input type="text" id="furgency" name="furgency" /><br /></p>
  <p>tagged usernames: <input type="text" id="ftagged" name="ftagged" /><br /></p>
  <p>password for editors: <input type="text" id="fcode" name="fcode" /><br /></p>

  <p>
    <a href="{{ url_for('read')}}">Cancel</a>
    <input type="submit" name="post-btn" value="Post" />
  </p>
</form>
{% endblock %}
