{% extends 'base.html' %} {% block container %}
<h2>Delete</h2>
<p>Delte a record in the MongoDB database collection using </p>
<form method="POST" action="{{ url_for('edit') }}">
  <p>UserName to Delete: <input type="text" id="fname3" name="fname3" /><br /></p>
  <p>password: <input type="password" id="fcode3" name="fcode3" /><br /></p>
  <p>
    Content To Delete:
    <textarea type="text" id="fmessage4" name="fmessage4"></textarea>
  </p>

  <p>
    <a href="{{ url_for('read')}}">Cancel</a>
    <input type="submit" name="post-btn" value="Delete" class="btn btn-submit btn-outline" />
  </p>

</form>
{% endblock %}
