{% extends 'base.html' %}

{% block container %}
<h2>Read</h2>
<p>This page shows information pulled from the posts collection.
        
    {% for doc in docs %}
    <div>
        <hr class="read">
        <p class="post_red">

            <br>
            <b>{{ doc.username }}</b> posted on <i>{{doc.date}}</i> about <b>{{doc.Type}}</b>
        </br>

        <br>
        <p class="content_red">
        {{doc.content}}
        </p>
        </br>
        </p>
            
    </div>
    {%endfor%}
</p>
{% endblock %}